# Arquivos e diretórios específicos do IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Compilação e arquivos gerados
out/
target/
build/

# Logs e arquivos temporários
*.log
*.log.*
*.tmp

# Arquivos de configuração
*.properties
*.prefs
*.settings/